<m-dialog
  namespace="dialog-left-slide-in-checkout-"
>
  <div class="container dialog-header">
    <a-button id="close-back">
    <a-icon-mdx icon-name="ChevronLeft" size="2em" ></a-icon-mdx>
  </a-button>
    <h3>Filter</h3>
    <a-button request-event-name="backdrop-clicked" id="close">
    <a-icon-mdx icon-name="Plus" size="2em" rotate="45deg" no-hover-transform></a-icon-mdx>
  </a-button>
  </div>
  <div class="container dialog-content">
    <p class="reset-link"><a>Alles zur&uuml;cksetzen <a-icon-mdx icon-name="RotateLeft" size="1em"></a-icon-mdx></a></p>
    <div>
      <p>Content here</p>
      <p>Content here</p>
      <p>Content here</p>
      <p>Content here</p>
      <p>Content here</p>
      <p>(scroll down)</p>
      <p style="height: 500px">...</p>
      <p>Content here</p>
      <p>Content here</p>
      <p>Content here</p>
    </div>
  </div>
  <div class="container dialog-footer">
    <a-button id="close" namespace="button-secondary-" no-pointer-events>Schliessen</a-button>
    <a-button namespace="button-primary-">Angebote anzeigen</a-button>
  </div>
  
  <a-button id="show-modal" namespace="button-primary-" no-pointer-events>Show dialog left slide in</a-button>
</m-dialog>
<!-- load web components for Demo Purposes Only -->
<script class=template-script type="text/javascript" src="./left-slide-in-.js"></script>
<script type="text/javascript" src="../../../../../../docs/es/loader.js"></script>
<script type="text/javascript" src="../../../../../../docs/es/documenter.js?component=Dialog.js"></script>